body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#header-nav{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    background-color: black;
    width: 50vw;
    margin: 0 auto;
}
#header-nav a{
    color:antiquewhite;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    position: sticky;
}
#header-nav a:hover {
    background-color: #1e1e1f;
    color: antiquewhite;
}

h1,h2,h3,h4,h5,h6{
    color: beige;
}
p{
    color: beige;
}
.info-footer{
    background-color: antiquewhite;
    height: 20px;
    width: 100vw;
}
.info {text-align: left; font-size: 30PX; margin: 0 auto; max-width: 800px;margin-right: 55%; margin-top: 15%;}

.moonimage{   display: block;
        margin-left: 50%;
        width: 80%; margin-bottom: 100%;}

 .container {
            width: 80%; 
            margin: 0 auto; 
            overflow: hidden; 
        }
        .float-image {float: right; margin-left: -100000px; margin-right: 0px; width: 1000px; height: auto; }
.week{background-color: #CABAA0;height: 300px;font-size: 25px;padding: 20px;
    text-align:left;
    margin-top: 20px;}
.phases{margin-left: 1%;}
.weekly{width: 90px;
    height: 90px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;}
